.doubt {
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
    width: 700px;

    @media only screen and (max-width: 800px) {
        width: 90vw;
    }

    h1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 500;
        padding-bottom: 10px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: #9A0EAD;
        }
    }

    .doubtOpen {
        color: #9A0EAD;
        font-weight: 600;
    }

    .answer {
        transition: 0.4s;
        font-size: 1.2rem;
    }

    .answerOff {
            height: 0px;
            overflow: hidden;
    }

    .answerOn {
            margin: 1rem 0;
    }
}