* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: 'Outfit', sans-serif;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }  
}
@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }  
}
@media (max-width: 500px) {
    html {
        font-size: 75.25%;
    }  
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.8
    }
    &:active {
        opacity: 0.6
    }
}

.titleCustom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    

    &::after {
        content: "";
        width: 100px;
        height: 5px;
        background: #9A0EAD;
    }
}
